/*#!/usr/bin/env python
// #-----------------------------------------------------------------------
// # index.css
// # Author: Olivia Zhang, Zoë Barnswell, Lyra Katzman 
// #-----------------------------------------------------------------------
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,bold,italic&subset=latin,latin-ext');

#sidebar {
    padding-left: 10px;
}
#btn {
    padding: 0px;
    margin-right: 10px;
}
.main {
    margin: 0px;
    padding: 0px;
}
.row {
    width: 100%;
    padding-top: 10px;
}
.articles {
    padding: 10px;
}
.sidebar-head {
    margin-top: 20px;
}

.logo navbar-brand{
  font-size: 16px;
  color: white;

}

.navBarMain{
  background-color: #C3CDE6;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

a{
	display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

a.headerLink{
	display: inline;
    
}



div.box:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .9;
}

.navbar-header{
  background-color:#C3CDE6;
  color:white;
}
.navbar-div{
  background-color:#C3CDE6;
  color: white;
}
a.divLink {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    /* Makes sure the link doesn't get underlined */
    z-index: 10;
    /* raises anchor tag above everything else in div */
    background-color: white;
    /*workaround to make clickable in IE */
    opacity: 0;
    /*workaround to make clickable in IE */
    filter: alpha(opacity=0);
    /*workaround to make clickable in IE */
}

/**/



	/*width:500px;
}
*/
/*.container{
    width:200px;
    height:200px;
    background-color:black;
    color:white;
    /*Important:
    position:relative;
}*/

/*Important:*/
/*.link-spanner{
  position:absolute; 
  width:100%;
  top:0;
  left: 0;
  z-index: 1;
  height:100px;
   edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif 
  background-image: url('empty.gif');
}   */

/*.app_container {
	
	text-align: center;
	align-self: center;
	background-color: #CCCCFF;
	height:100%;
}*/

.preview_img{
	height:50px;
	width:400px;
	align-self: right;
}

.navButton{
  width:150px;
  font-size:13pt;
  border-color:#E7E7E7;
}

.navButton:hover { 
  background-color: #C3CDE6;
  color:white;
  border-color:#E7E7E7;
}

img{
	height:250px;
	width:250px;
	align-items: center;
	align-self: center;

	position:relative; 
	left:-50px;
	top:-50px;


}

.article_input {
	height:100px;
	width:50%;
	font-size:16px;
}

input[type=button] {
	height:30px;
	width:10%;
	font-size:12px;
	background-color: #FFC0CB;
}

input[type=submit] {
	height:30px;
	width:10%;
	font-size:16px;
	background-color: white;
}


header {
	align-content: center;
	text-align: center;
	align-self: center;
	color: #0B3861;
	font-size:24px;
	background-color: white;
	height:125px;
  font-family: 'Montserrat';
}

