/*#!/usr/bin/env python
// #-----------------------------------------------------------------------
// # index.css
// # Author: Olivia Zhang, Zoë Barnswell, Lyra Katzman 
// #-----------------------------------------------------------------------
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Roboto');

#sidebar {
    padding-left: 10px;
}
#btn {
    padding: 0px;
    margin-right: 10px;
}
.main {
    margin: 0px;
    padding: 0px;
}
.articles {
    padding: 10px;
}
.sidebar-head {
    margin-top: 20px;
}

.logo navbar-brand{
  font-size: 16px;
  color: white;

}

.navBarMain{
  background-color: #C2D6F6;
  color:white;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  background-color:#ecf2fc
}

a{
	display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
   
}

.greetingMessage{

  size:48px;
  color: cornflowerblue;
}

a.headerLink{
	display: inline;
    
}

div.box:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .9;
}

.navbar-header{
  background-color: #C2D6F6;
  color:white;
}
.navbar-div{
  background-color:#C3CDE6;
  color: white;
}
a.divLink {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    /* Makes sure the link doesn't get underlined */
    z-index: 10;
    /* raises anchor tag above everything else in div */
    background-color: white;
    /*workaround to make clickable in IE */
    opacity: 0;
    /*workaround to make clickable in IE */
    filter: alpha(opacity=0);
    /*workaround to make clickable in IE */
}

.divider{
    position:absolute;
    left:50%;
    top:10%;
    bottom:10%;
    border-left:1px solid white;
}

.addarticleForm {
  width: 500px;
}

.container {
  margin-left: 4px;

}

.preview_img{
	height:50px;
	width:400px;
	align-self: right;
}

.navButton{
  width:100%;
  font-size:13pt;
  border-color:#E7E7E7;
  
}

.navButton:hover { 
  background-color: rgb(255, 56, 105);
  color:white;
  border-color:#E7E7E7;
}

.navButton:focus {
  background-color: #74819F;
}

.sideTagNav {
  background-color: blue;
  float: left;
  width: 100%;
}
.navButton {
  background-color: #C2D6F6;
  color:white;
  float: left;
}

/* ---------------------------  Article  Box --------------------------- */
.articleAuthor {
  float: left;
  margin-right: 2%;
}


.articleTitle {
  height: 20%;
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
  margin-top: 1%;
  float: left;
  font-size: 25px;
}


.articleDate {
  float: left;
  border-left-style: solid;
  border-width: .1px;
  padding-left: 2%;
  font-weight: bold;
}

.article_input {
  height:50px;
  font-size:14px;
  width: 100%;
}

.addarticle {
  margin: 5%;
}

.articleContainer {
  margin: 0;
  text-transform: lowercase;
  float: left;
  margin: 0px;
  margin-left: 5%;
}

.articleImageContainer {
  float: left;
  height: 150px;
  margin-right: 5px;
  padding: 0;
}

.articleImage {
  border-radius: 3px;
  float: left;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* filter: grayscale(100%); */
}

.articleContent {
  float: left;
  height: 150px;
  border-radius: 3px;
  font-family: 'Montserrat';
  padding-left: 3%;
}

.articleInside {
  float: left;
  padding: 0px;
}

.articleTopBar {
  height: 15%;
  color: #FF1493;
  font-family: 'Montserrat', serif;
}

.articleTags {
  float: left;
  color: #FF1493;
  font-family: 'Montserrat', serif;
}

.articleDeleteButton {
  float: right;
  border-radius: 3px;
}

.articleDelete {
  background: #fff;
  color: rgba(230, 0, 0, 0.849);
  border: 2px solid rgba(230, 0, 0, 0.849);
  border-radius: 3px;
  padding: 3px 7px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 10px;
  font-weight: bold;
}
/* ---------------------------  Article  Box --------------------------- */
.groupButton {
  background: #e6fdff;
  color: #FF1493;
  border: 2px solid #FF1493;
  border-radius: 3px;
  padding: 3px 7px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 10px;
  font-weight: bold;
}
.submitaddarticle {
  background: #fff;
  color: #FF1493;
  border: 2px solid #FF1493;
  border-radius: 3px;
  padding: 3px 7px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 10px;
}

.showgroupButton {
  background: #C3CDE6;
  color: #FF1493;
  border: 2px solid gray;
  border-radius: 3px;
  padding: 3px 7px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 10px;
  font-weight: bold;
  width: 15%;
  float: left;
  margin-right: 5%;
}
.buttonToolbar {
  border-right: 7px solid black;
  margin-right: 5%;
}
.viewGroup {
  bacKground: #f7f3aa
}
.articleBody {
  height: 25%;
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
  float: left;
}

.articleBottom {
  height: 15%;
}
.articlefooter {
  float: left;
  width: 50px;
}
.usernameDisplay {
  font-family: 'Montserrat', serif;
  margin-left: 20%;
}

.tagsButton {
  background: #C2D6F6;
  border: 2px solid #7b98e0;
  border-radius: 5px;
  padding: 3px 7px;
  /* text-transform: uppercase; */
  margin-bottom: 5px;
  font-size: 15px;
  color:white;
  margin-right: none;
/*  font-weight: bold;
*/}

.tagsHeader {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: 'Montserrat', serif;
}

.groupdisplay {
  margin-left: 0px;
}

.groupsNoteable {
  font-weight: bold;
  float: left;
}

.groupUser {
  float: left;
} 

.groupName {
  font-weight: bold;
  font-size: 30px;
  font-family: 'Montserrat', serif;
}
input[type=button] {
	height:30px;
	width:100%;
	font-size:12px;
	background-color: #FFC0CB;
}

input[type=submit] {
	height:30px;
	width:10%;
	font-size:16px;
	background-color: white;
}

input[type=checkbox] {
  width: 1%;
  float: left;
}

header {
	align-content: center;
	text-align: center;
	align-self: center;
	color: white;
	font-size:16px;
	background-color: white;
  font-family: 'Montserrat';
}

