body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #CCCCFF;
  text-align: center;
  align-content: center;

}

ol, ul {
  padding-left: 30px;
}

.article_box{
  
  align-content:center;
  text-align: center;
  background-color: #FFFFFF;
  align:center;
  border-style: solid;
  border-color:black;
  height:250px;
  width:75%;
 

}


.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font: 22px;
}

input{
  font: 24px 
}

.container {
  background-color: #000000;
  
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
 
  align:center;
  text-align: center;
  align-content: center;


}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
