  #sidebar {
            padding-left: 10px;
        }
        #btn {
            padding: 0px;
            margin-right: 10px;
        }
        .main {
            margin: 0px;
            padding: 0px;
        }
        .row {
            width: 100%;
            padding-top: 10px;
        }
        .articles {
            padding: 10px;
        }
        .sidebar-head {
            margin-top: 20px;
        }
    

.notLoggedIn {
    align-content: center;
    display: block;
    color:blue;
    margin-top: 10%;


}